{% extends 'base.html.twig' %}

{% block title %}Pokemon!{% endblock %}

{% macro renderStatRow(name, value) %}
    <div class="stat-row">
        <span class="stat-name">{{ name }}</span>
        <span class="stat-value">{{ value }}</span>
        <span class="stat-progress">
            <div
                style="width:{{ value * 2.5 }}px;" 
                class="progress {{  value<= 50 ? 'danger' :  value <= 80 ? 'warning' : 'success'   }} ">
            </div>
        </span>
    </div>
{% endmacro %}

{% block body %}
<div class="example-wrapper">
    <div class="pokemon-info">
        <span class="pokemon-name">
            {{pokemon.number}} - {{pokemon.name}}
        </span>

        <div class="pokemon-type-list">
            {% for pokemonType in pokemon.type %}
                <span class="pokemon-type">{{ pokemonType.name }}</span>
            {% endfor %}
            <span class="pokemon-generation">Génération {{ pokemon.generation}}</span>
            {% if pokemon.legendary %}
                <span class="pokemon-leng">Pokémon légendaire</span>
            {% endif %}
        </div>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div class="pokemon-stats">
            <span class="stat-title">Statistique de base</span>
            {{ _self.renderStatRow('HP', pokemon.hp) }}
            {{ _self.renderStatRow('Attaque', pokemon.attack) }}
            {{ _self.renderStatRow('Défense', pokemon.defense) }}
            {{ _self.renderStatRow('Atq Spé', pokemon.spAtk) }}
            {{ _self.renderStatRow('Déf Spé', pokemon.spDef) }}
            {{ _self.renderStatRow('Vitesse', pokemon.speed) }}
            <div class="stat-row no-border">
                <span class="stat-name">Total</span>
                <span class="stat-value">{{pokemon.total}}</span>
            </div>
        </div>

        <div class="buttons-action">
            <a href="{{ path('pokemon_edit', { id: pokemon.id }) }}" class="btn-modify">
                Modifier
            </a>

            <form method="post" action="{{ path('pokemon_delete', {'id': pokemon.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pokemon.id) }}">
                <button class="btn-delete">Supprimer</button>
            </form>
        </div>

         <a href="{{path('app_index')}}"> Retourner à la liste </a>
    </div>

</div>


<script>

    function handleDelete(url) {
        let res = confirm('Are you sure you want to delete this resource?');

        if (res){
            fetch(url, {method: "DELETE"}).then(res => res)
            .then(_ => {

            })

        }
    }


</script>

{% endblock %}
